.slide1{
    background-color: green;
    color: white;
    height: 200px;
}
.slide2{
    background-color: blue;
    color: white;
    height: 200px;
}
.slide3{
    background-color: gold;
    color: white;
    height: 200px;
}